<div style="float: left;">
<img src="/images/user.jpg" alt="Autor" />
<h3>Autor Didier Rubio.</h3>
</div>
<iframe width="400" height="210" src="https://www.youtube.com/embed/8wfD-cBPTLY" frameborder="0" allowfullscreen>
</iframe>