<h2>Login</h2>
<br />
<form method="post" action="/login">
	<div class="field">
		<label for="login">Login:</label><br />
		<input name="login" id="login" type="text" size="30" />
	</div>
	
	<div class="field">
		<label for="password">Password:</label><br />
		<input name="password" id="password" type="password" size="30" />
	</div>
	
	<div class="field">	
		<input name="commit" type="submit" value="Login" />
	</div>
</form>